<?xml version='1.0' encoding='utf-8'?>
<widget id="julio.privalia.casestudy" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Case Study</name>
    <description>
        An example app for Privalia selection process
    </description>
    <author email="juliolopeztorres@gmail.com" href="http://juliolopeztorres.github.io/welcome-page/">
        Julio López Torres
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
